$row-item-height: 22px;
$item-height: 30px;
$cmd-height: 36px;
$font-size: 14px;
$scrollbar-width: 5px;

/* Left sidebar */
.sidebar {

  // File Explorer
  .explorer-folders-view .editor-group,
  .explorer-folders-view .explorer-item {
    height: $item-height;
    line-height: $item-height;
  }

  .explorer-folders-view .monaco-inputbox {
    margin-top: ($item-height - $row-item-height) / 2;
  }

  // Open Editors
  .open-editors .editor-group,
  .open-editors .open-editor {
    line-height: $item-height;
  }

  // all icon label
  .monaco-icon-label:before {
    height: $item-height;
  }

  // Source Control
  .scm-view .monaco-list-row {
    line-height: $item-height;
  }

  // Cancel title uppercase
  .monaco-pane-view .pane>.pane-header>.title {
    text-transform: none;
  }

  // Custom view
  .customview-tree .monaco-list .monaco-list-row .custom-view-tree-node-item {
    height: $item-height;
    line-height: $item-height;
  }
}

/* Source Control */
.scm-view {
  .monaco-list-row .monaco-icon-label-container {
    height: $item-height;
  }
}



/* Command Palette */
.quick-input-widget {
  top: 50% !important;
  margin-top: -25%;

  .quick-input-list {
    line-height: $cmd-height;
  }

  // settings icon
  .quick-input-list-entry-action-bar .actions-container {
    height: $cmd-height;
  }

  // all icon label
  .monaco-icon-label:before {
    height: $cmd-height;
  }

  // input
  .quick-input-and-message {

    .monaco-inputbox {
      margin-bottom: 2px;

      .ibwrapper>.input {
        height: 35px;
        font-size: 13px;
        letter-spacing: 0.2px;
      }
    }

    .controls {
      top: 0px;
      top: 50%;
      margin-top: -10px;
    }
  }
}

/* Scrollbar */
.decorationsOverviewRuler {
  width: $scrollbar-width !important;
}

.scrollbar {
  width: $scrollbar-width !important;

  .slider {
    width: $scrollbar-width !important;
    border-radius: $scrollbar-width / 2;
  }
}

/* Composite */
.composite.has-composite-bar.header-or-footer {
  .composite-bar {
    // width: 100%;
    margin: 0 auto;

    .actions-container {
      justify-content: space-around;
    }
  }
}
